:root {
	--color-dark: black;
	--color-orange: #FF9C63;
    --color-yellow: #fc6;
    --color-yellow-light: #ffe7ad;
    --color-red: #c66;
    --color-lavender: #c9c;
    --color-blue-light: #9cf;
    --color-grey: #999;
    --color-grey-light: #c0c0c0;
    --color-paper: white;
}

.App {
    font-family: 'Antonio', cursive, Helvetica;
    background-color: var(--color-dark);
	line-height: 1.2;
    height: 100%;
}

.App header {
    font-family: 'Antonio', cursive, Helvetica;
}

.App h1 {
    font-family: 'Antonio', cursive, Helvetica;
    background-color: var(--color-dark);
    color: var(--color-yellow-light);
    text-transform: uppercase;
    padding-left: 1rem;
}

button {
    border: none;
    border-radius: 0.9em;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    padding: 8px;
    margin: 4px;
    width: 100%;
    background-color:var(--color-orange);
}

button:hover {
    background-color: var(--color-yellow);
}

a.selection {
    border: none;
    border-radius: 0;
    border-top-right-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    margin-left: 0px;
    margin-bottom: 0.5em;
    width: 100%;
    background-color: var(--color-orange);
    text-align: left;
    text-decoration: none;
    color: var(--color-dark);
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    
}

a.selection:hover {
    background-color: var(--color-yellow);
}

button.navigation-next {
    width: 8em;
    background-color: var(--color-paper);
    text-align: center;
    cursor: inherit;
    margin-left: 1px;
    border-radius: 0;
    border-top-right-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
}

button.navigation-next:enabled {
    background-color: var(--color-paper);
    text-align: center;
    cursor: pointer;
}

button.navigation-next:enabled:hover {
    background-color: var(--color-red);
}

button.navigation-prev {
    width: 8em;
    background-color: var(--color-paper);
    text-align: center;
    cursor: inherit;
    margin-right: 1px;
    border-radius: 0;
    border-top-left-radius: 0.9em;
    border-bottom-left-radius: 0.9em;
}

button.navigation-prev:enabled {
    background-color: var(--color-paper);
    text-align: center;
    cursor: pointer;
}

button.navigation-prev:enabled:hover {
    background-color: var(--color-red);
}

.ra-lcars-top-left-corner {
    width: 10em;
    height: 2.3em;
    border-top-left-radius: 2em;
    position: relative;
}

.ra-lcars-top-left-corner .ra-lcars-top-left-corner-inside {
    background-color: var(--color-dark);
    border-top-left-radius: 1.5em;
    top: 1em;
    left: 4em;
    height: 1.3em;
    width: 6em;
    position: relative;
}

.ra-lcars-bottom-left-corner {
    width: 13em;
    height: 2.3em;
    border-bottom-left-radius: 2em;
    position: relative;
}

.ra-lcars-bottom-left-corner .ra-lcars-bottom-left-corner-inside {
    background-color: var(--color-dark);
    border-bottom-left-radius: 1.5em;
    top: 0;
    left: 4em;
    height: 1.6em;
    width: 9em;
    position: relative;
}

.ra-lcars-top-right-corner {
    width: 10em;
    height: 2.3em;
    border-top-right-radius: 2em;
    position: relative;
}

.ra-lcars-top-right-corner .ra-lcars-top-right-corner-inside {
    background-color: var(--color-dark);
    border-top-right-radius: 1.5em;
    top: 1em;
    left: 0;
    height: 1.3em;
    width: 6em;
    position: relative;
}

.ra-lcars-bottom-right-corner {
    width: 6em;
    height: 2.3em;
    border-bottom-right-radius: 2em;
    position: relative;
}

.ra-lcars-bottom-right-corner .ra-lcars-bottom-right-corner-inside {
    background-color: var(--color-dark);
    border-bottom-right-radius: 1.5em;
    top: 0;
    left: 0;
    height: 1.6em;
    width: 2em;
    position: relative;
}

.ra-lcars-color-lavender {
    background-color: var(--color-lavender);
}

.ra-lcars-color-lightblue {
    background-color: var(--color-blue-light);
}

.ra-lcars-color-red {
    background-color: var(--color-red);
}

.ra-lcars-color-grey {
    background-color: var(--color-grey);
}

.ra-lcars-color-yellow {
    background-color: var(--color-yellow);
}

.ra-lcars-line-bold {
    height: 1em;
}

.ra-lcars-top {
    vertical-align: top;
}

.ra-lcars-line-thin {
    height: 0.7em;
}

.ra-lcars-bottom {
    vertical-align: bottom;
}

.ra-lcars-line-left {
    width: 4em;
}

.ra-lcars-line-right {
    width: 4em;
}

.ra-lcars-vertical-spacer {
    height: 0.2em;
    background-color: var(--color-dark);
}
.ra-lcars-line-end-left {
    border-top-right-radius: 0.5em; 
    border-bottom-right-radius: 0.5em;
}

.ra-lcars-horizontal-spacer {
    background-color: var(--color-dark);
    width: 0.2em;
}

.ra-lcars-text-yellow {
    color: var(--color-yellow);
}

.ra-lcars-text-yellow-light {
    color: var(--color-yellow-light);
}

.ra-lcars-text-yellow-light a:hover{
    color: var(--color-red);
}

.ra-lcars-text-red {
    color: var(--color-red)
}

.ra-lcars-code {
    padding: 0.2em;
}

.recipe-title {
    font-size: 2.5em;
    color: var(--color-red);
    text-transform: uppercase;
}

.recipe-preamble, .recipe-preparation, .recipe-ingredient  {
    color: var(--color-paper);
}
.recipe-rating, .recipe-adding, .recipe-update, .recipe-tags {
    font-size: 0.9em;   
    color: var(--color-paper);
}

.recipe-portion, .recipe-prepare {
     font-size: 1.875em;
     color: var(--color-lavender);
     text-transform: uppercase;
}

input:focus {
    outline:none;
}

.ra-search-input {
    display: block;
    background-color: var(--color-lavender);
    color: var(--color-dark);
    border: 0;
    width: 100%;
    margin: 0;
    padding: 0.8rem;
    border-radius: 0.9rem;
}

.ra-search-result-item {
    padding-bottom: 0.8rem;
    width: 100%;
    padding-left: 0.8rem;
}

.ra-search-result-item a {
    text-decoration: none;
}

.ra-search-result-item a:hover {
    text-decoration: none;
    color: var(--color-red);
}

.ra-search-title {
    font-size: 2.5em;
    color: var(--color-red);
    text-transform: uppercase;
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
}

.ra-app-info-title {
    font-size: 2.5em;
    color: var(--color-red);
    text-transform: uppercase;
}